header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

#nav_Logo {
    font-size: 20px;
    color: #F28A2E;
}

#nav_list {
display: flex;
list-style: none;
gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #dfbe03;
    font-weight: 600;
}

.nav-item.active a {
    color: #F28A2E;
    border-bottom: 3px solid #f2c444;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1770px) {
    #nav_list, 
    #navbar .btn-default  {
        display: none;
        }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }