#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;

}
#cta {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    
    
}

#cta .title {
    font-size: 4rem;
    color: #dfbe03;
    
    
}

#cta .title span {
color: #F25244;
}

#cta .description {
    font-size: 1.2rem;
    color: #fcfcfc;
}

#cta_buttons {
    display: flex; 
    gap: 24px;

}

#cta_buttons a {
    text-decoration: none;
    color: #1B78F2;
    
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #eeebe7;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
}

#banner img {
    height: 100%;
    width: fit-content;
}

.shape {
    background-color: #000000;
    width: 50%;
    height: 100%;
    position: absolute;
}
@media screen and (max-width: 1770px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }
    #banner,
    #banner img,
    #home.shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }