#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

#products {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
               
    }
#products {
    img {
        width: 20%;
        
    }
   
    }
.product-heart {
    position: absolute;
    background-color: #881a16;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #fff9ef;
    width: 40px;
    height: 40px;
    border-radius: 0px 37.5px 42.5px;
}

    .product-description {
        color: #ffffff;
        text-align: center;
        
       

    }

    .product-title {
        color: #F25244;

    }

    .product-price {
        color: #F25244;
    }

   








    