#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

img {
    width: 50%;
}

#testimonials .section-title {
    font-size: 3rem;
    margin-top: 20px;
}

#testimonials .section-subtitle {
    font-size: 2rem;
    
}

#testimonials_content {
    width: 50%;
    
    
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.feedback {
display: ;
align-items: center;
gap: 20px;
background-color: rgb(243, 243, 224);
padding: 12px;
border-radius: 12px;
box-shadow: 0px 0px 12px 4px rgba (0, 0, 0, 0.1);
}

@media screen and (max-width: 1170px) {
       #testimonials {
        flex-direction: column;
       } 
}

#testimonials_content {
   align-items: center;
   text-align: center;
}

@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }
}